@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-icon {
  display: none !important;
}

html.system-theme .theme-icon.theme-system {
  display: inline !important;
}

html.dark:not(.system-theme) .theme-icon.theme-dark {
  display: inline !important;
}

html:not(.system-theme):not(.dark) .theme-icon.theme-light {
  display: inline !important;
}

/* Inter Font Usage - https://rsms.me/inter/#usage */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "case" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
